body{
    background-color: #cbf4f4;
    display:grid;
    justify-content:center;
}
h1{
    text-align: center;
    color: #073e3c;
}
select{
    padding:5px;
}
option{
    background-color: blueviolet;
}
#errormsg{
    display: none;
    padding: 10px;
    border: solid 1px ;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #98e7d0;
    color: rgba(169, 42, 91, 0.989);
    font-weight:bold;
  
} 
 
          /* laptop */

@media screen and (min-width:1200px) {
    body{
        background-color: #69b5d6;
        color: #225d76;
    }
}
        
         /* tablet */

@media screen and (max-width:768px){
    body{
        background-color: rgb(84, 172, 168);
    }
   select{
    padding:10px;
   }
}